.calculator-wrapper {
    padding-top: 24px;
    padding-bottom: 48px;
	display: flex;
    gap: 40px;
    
}

.calculator-item {
    width: 50%;
}

.calculator-item-options {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.calculator-section-title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 24px;
}

.calculator-section-description {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 32px;
}

.calculator-options-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
    column-gap: 20px;
}


/*------ Select Field ------*/

.select-wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    /* flex: 0 0 50%; */
    /* position: relative; */
}

/* .select-wrapper:nth-child(2n) {
    padding-left: 32px;
} */

.select-label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 8px;
}

.select-field {

    outline: none;
	cursor: pointer;
    
    padding: 8px 16px;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    background-color: var(--grey-color);
    border: 1px solid #899197;
	transition: .4s;
}

.select-field:focus {
	outline: none;
	border: 1px solid var(--accent-color);
}

/* .select-wrapper::after {
    position: absolute;
    content: "";
    background-image: url('./../img/icons/arrows-icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: block;
    width: 12px;
    height: 26px;
    bottom: 20px;
    right: 16px;
} */

/* .select-field.active .select-wrapper::after {
    transform: rotate(180deg);
}
 */
/*------ Result Field ------*/

/* .calculator-result-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 48px;
} */

.calculator-result-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.calculator-result-value {
    font-weight: 600;
    font-size: 32px;
    text-align: left;
}



/*------ Action Field ------*/

.calculator-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 32px;
}


.calculator-action-item {
    width: 50%;

}
.calculator-button {
    padding: 16px 32px;
    width: 100%;
    border: 2px solid var(--accent-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: var(--black-color);
    transition: .4s ease-in-out;
}

.calculator-button-order {
    display: none;
}

.calculator-button-order.active {
    display: block;
}

.calculator-button:hover {
    background-color: var(--accent-color);
}

/*------ Result Table ------*/

.calculator-result-wrapper {
    padding: 16px 0;
/*     border-top: 2px solid var(--grey-color);
    border-bottom: 2px solid var(--grey-color); */
    background-color: var(--grey-color);
    display: flex;
    gap: 20px;
    align-items: flex-end;
}



.calculator-result-item {
    width: 50%;
}

.calculator-result-item:not(:last-child) {
    text-align: right;
}



.calculator-table-pretitle {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
}

.calculator-table-wrapper {
    transform: translateX(300%);
    transition: .4s ease-in-out;
}

.calculator-result-wrapper.active {
    height: 100%;
}


.calculator-result-wrapper.active .calculator-table-wrapper {
    transition-delay: .1s;
    transform: translateX(0);
}

@media (max-width: 992px) {
    .calculator-wrapper {
        flex-direction: column-reverse;
    }

    .calculator-item {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .calculator-options-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .calculator-result-item {
        width: auto;
    }
    .calculator-result-item:first-child {
        padding-left: 16px;
    }
    .calculator-result-title {
        font-size: 16px;
    }
    .calculator-result-value {
        font-size: 24px;
    }
}