.calc__wrapper {
}

.calc__col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.calc__col:not(:last-child) {
    margin-bottom: 2px;
}

.calc__descr {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    width: 220px;
    height: 30px;
    color: var(--white-color);
    background-color: var(--black-color);
    
}

.calc__select {
    width: 220px;
    height: 30px;
    
}

.calc__input {
    width: 220px;
    height: 30px;
    
}

.calc__input-size {
    width: 110px;
    height: 30px;
}