.calculator-wrapper {
/*     padding-top: 24px;
    padding-bottom: 48px; */
	display: flex;
    gap: 40px;
    
}

.calculator-item {
    width: 50%;
}

.calculator-item-options {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.calculator-section-title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 24px;
}

.calculator-section-description {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 24px;
}

.calculator-options-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
    column-gap: 20px;
}


/*------ Select Field ------*/

.select-wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    /* flex: 0 0 50%; */
    /* position: relative; */
}

/* .select-wrapper:nth-child(2n) {
    padding-left: 32px;
} */

.select-label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 8px;
}

.select-field {

    outline: none;
	cursor: pointer;
    
    padding: 8px 16px;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    background-color: var(--grey-color);
    border: 1px solid #899197;
	transition: .4s;
}

.select-field:focus {
	outline: none;
	border: 1px solid var(--accent-color);
}

/* .select-wrapper::after {
    position: absolute;
    content: "";
    background-image: url('./../img/icons/arrows-icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: block;
    width: 12px;
    height: 26px;
    bottom: 20px;
    right: 16px;
} */

/* .select-field.active .select-wrapper::after {
    transform: rotate(180deg);
}
 */


/* .calculator-result-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 48px;
} */


/*------ Result Field ------*/



.calculator-result-description {
    padding-top: 16px;
    display: none;
}

.calculator-result-wrapper.active .calculator-result-description  {
    display: block;
}

.calculator-result-description-title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px
}

.calculator-result-description-list {
    margin-bottom: 16px;
}
.calculator-result-description-item {
    font-size: 16px;
    display: flex;
    padding: 2px 0;
}

.calculator-result-description-text {
    width: 200px;
    font-weight: 400;
}

.calculator-result-description-value {
    font-weight: 500;
}


.calculator-result-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.calculator-result-value {
    font-weight: 600;
    font-size: 32px;
    text-align: left;
}



/*------ Action Field ------*/

.calculator-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}


.calculator-action-item {
    width: 50%;

}
.calculator-button {
    padding: 16px 32px;
    width: 100%;
    border: 2px solid var(--accent-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: var(--black-color);
    transition: .4s ease-in-out;
}

.calculator-button-order {
    display: none;
}

.calculator-button-order.active {
    display: block;
}

.calculator-button:hover {
    background-color: var(--accent-color);
}

/*------ Result Table ------*/

.calculator-result-content {
    padding: 16px 0;
    background-color: var(--grey-color);
    display: flex;
    gap: 20px;
    align-items: flex-end;
    margin-bottom: 32px;
}



.calculator-result-item {
    width: 50%;
}

.calculator-result-item:not(:last-child) {
    text-align: right;
}



.calculator-table-pretitle {
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    margin-bottom: 8px;
}

/* .calculator-table-wrapper {
    transform: translateX(300%);
    transition: .4s ease-in-out;
} */

/* .calculator-result-wrapper.active {
    height: 100%;
} */


/* .calculator-result-wrapper.active .calculator-table-wrapper {
    transition-delay: .1s;
    transform: translateX(0);
} */

.calculator-table-wrapper {
    padding-top: 20px;
    height: 0;
    overflow: hidden;
}

.calculator-table-wrapper.active {
    height: 100%;    
}

.calculator-table-content {
    padding-top: 40px;
    transform: translateX(300%);
    transition: .4s ease-in-out;
}

.calculator-table-wrapper.active .calculator-table-content {
    transform: translateX(0);
}

.calculator-table-title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;
}

.calculator-table-description {
    text-align: center;
    font-size: 15px;
    margin-bottom: 24px;
}

.calculator-table {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator-table-row {
    display: flex;
}

.calculator-table-row:nth-child(2n+1) {
    background-color: #F9F9F9;
}

.calculator-table-row-item {
    border: 1px solid #F9F9F9;
    font-weight: 400;
    font-size: 15px;
    width: 120px;
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.calculator-table-row-text {
    padding: 10px;
}


/* .calculator-table-row-item:nth-child(2n+1) {
    background-color: #F9FAFB;
} */

.calculator-table-row-link {
    padding: 10px;
    width: 100%;
    height: 100%;
    font-weight: 500;
    transition: .4s ease-in-out;
}

.calculator-table-row-link:hover {
    background-color: var(--accent-color);
}


/*------ Tabs  ------*/

.calculator-tabs {
}


.calculator-tabs-wrapper {
}
.calculator-tabs-list {
    display: flex;
    justify-content: space-between;
}

.calculator-tabs-button {
    padding: 16px 32px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: var(--black-color);
    background-color: var(--white-color);
    border-bottom: 2px solid var(--grey-color);
    transition: .4s ease-in-out;
}

.calculator-tabs-button:not(:last-child) {
    
}


.calculator-tabs-button.active {
    /* border-bottom: 2px solid var(--accent-color); */
    background-color: var(--accent-color);
}

.calculator-tabs-button:hover {
    background-color: var(--accent-color);
}

.calculator-tabs-content {
    padding: 32px 0;
    
}

.calculator-tabs-content {
    display: none;
}

.calculator-tabs-content.active {
    display: block;
}


.calculator-tabs-content-title {
    width: 40%;
}



/*----- Tabs Content -----*/

.calculator-tabs-content-list {
    
}
.calculator-tabs-content-item {
    display: flex;
}

.calculator-tabs-content-item:not(:last-child) {
    margin-bottom: 16px;
}

.calculator-tabs-content-title {
    font-weight: 600;
    font-size: 16px;
}

.calculator-tabs-content-description {
}


.calculator-tabs-content-text {
    
}

.calculator-tabs-content-text:not(:last-child) {
    margin-bottom: 4px;
}




@media (max-width: 992px) {
    .calculator-wrapper {
        flex-direction: column;
    }

    .calculator-item {
        width: 100%;
    }

   
    .calculator-table {
        flex-direction: row;
    }
    
    .calculator-table-row {
        flex-direction: column;
    }

    .calculator-table-row-item {
        width: 180px;
    }

    .calculator-table-row:nth-child(2n+1) {
        background-color: var(--white-color);
    }


    .calculator-table-row-item:nth-child(2n+1) {
        background-color: #F9F9F9;
    }

    .calculator-tabs-list {
        flex-direction: column;
    }

    .calculator-tabs-content-item {
        flex-direction: column;
    }

    .calculator-tabs-content-title {
    width: 100%;
    margin-bottom: 8px;
}

}

@media (max-width: 600px) {
    .calculator-options-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .calculator-section-title {
        margin-bottom: 12px;
    }
    
    .calculator-section-description {
        margin-bottom: 12px;
    }
    
    .calculator-result-description-text {
        width: unset;
    }

    .calculator-result-description-item {
        justify-content: space-between;
    }

    .calculator-result-item {
        width: auto;
    }

    .calculator-result-item:first-child {
        padding-left: 16px;
    }
    .calculator-result-title {
        font-size: 16px;
    }
    .calculator-result-value {
        font-size: 24px;
    }

    .calculator-table,
    .calculator-table-row,
    .calculator-table-row-item {
        width: 100%;
    }

    .calculator-table-content {
        padding: 0;
    }
    
}