.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    position: relative;
    width: 320px;
    padding: 48px 32px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    background-color: var(--white-color);
}

.form-close__btn {
    position: absolute;
    top: 8px;
    right: 8px;

}

.form-close__btn .close-icon {
    transition: all .3s ease-in-out;
}


.form-close__btn .close-icon:hover {
    fill: var(--accent-color);
}

.form__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 32px;
}

.form__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 24px;
}

.form__div {
    position: relative;
    height: 48px;
    margin-bottom: 24px;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    outline: none;
    padding: 16px;
    background: none;
    z-index: 10;
}

.form__label {
    position: absolute;
    left: 16px;
    top: 16px;
    padding: 0 4px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 14px;
    transition: all .3s;
}

.input__list {
    margin-bottom: 16px;
}

.form__btns {
    margin-bottom: 24px;
}

.form__button-primary {
    display: block;
    padding: 16px 32px;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--accent-color);
    color: var(--black-color);
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.form__button-secondary {
    margin: 0;
    padding: 0;
    display: block;
    outline: none;
    border: none;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;
    transition: color .4s ease-in-out;
}

.form__button-secondary:hover {
    color: var(--accent-color);
}

.form__button-primary:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .25);
}

.form__input:focus+.form__label {
    top: -8px;
    left: 12px;
    color: var(--black-color);
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
    top: -.5rem;
    left: .8rem;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form__input:focus {
    border: 1.5px solid var(--accent-color);
}

.form__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 16px;
}

.input-social__list {
    display: flex;
}

.input-social__item:not(:last-child) {
    margin-right: 12px;
}


.input-social__icon {
    width: 32px;
    height: 32px;
}


/*----- Callback -----*/
.btn__callback {
    margin-left: auto;
    pointer-events: none;
    opacity: .7;
}

.btn__callback.active {
    pointer-events: auto;
    cursor: pointer;
    opacity: 1;
}


/*----- Search -----*/
.modal__search {
    top: 40%;
}

.form__search {
    padding-left: 16px;
    padding-right: 16px;
    width: 80vw !important;
    max-width: 1180px;
}

.search-input {
    padding: 16px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--white-color);
    outline: none;
    width: 100%;
    height: 60px;
}

.search__field {
    width: 100%;
    position: relative;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.search-button.active {
    display: block;
}

.search-button__icon {
    width: 32px;
    height: 32px;
    fill: var(--accent-color);
}

.search__result {
    width: 100%;
    margin-top: 16px;
    padding: 16px;
    background-color: var(--white-color);
    border-radius: 16px;
    display: none;
}

.search__result.active {
    display: block;
}

.search-result__item:not(:last-child) {
    margin-bottom: 12px;
}

.search-result__item {
    transition: color .3s ease-in-out;
}

.search-result__item:hover {
    color: var(--accent-color);
    transition: color .3s ease-in-out;
}

.search-result__link {
    font-weight: 500;
    font-size: 16px;
}




/*----- Form Login -----*/
.form-container {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}

.form-block {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--accent-color);
}

.form-block-item {
    text-align: center;
    width: 50%;
    padding: 16px;
}

.form-block-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.form-block-btn {
    padding: 16px 32px;
    outline: none;
    border: none;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.form-block-btn:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .25);
}


.form-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: var(--white-color);
    transition: .5s ease-in-out;
    display: flex;
    overflow: hidden;
}

.form-box.active {
    left: 50%;
}

.form-login {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: var(--white-color);
    transition: .5s;
}

.form-signin {
    left: 0;
    transition-delay: .25s;
}

.form-signup {
    left: 100%;
    transition-delay: 0;
}

.form-box.active .form-signin {
    left: -100%;
    transition-delay: 0;
}

.form-box.active .form-signup {
    left: 0;
    transition-delay: .25s;
}

.form-reset-btn {
    margin-bottom: 16px;
}

.form-item {
    position: relative;
    height: 48px;
    margin-bottom: 8px;
}

.form-btns {
    margin-bottom: 16px;
}