.header {
    padding-top: 15px;
    background-color: #888888;
    background-image: url("./../img/header/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.header__title {
    margin-bottom: 12px;
    max-width: 600px;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: var(--white-color);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__title span {
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: var(--accent-color);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}


.header__list {
    display: flex;
    position: relative;
}

.header__item {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.header__icon {
    background-color: #888888;
    fill: var(--white-color);
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: all .3s ease-in-out;

}

.header__link {
    display: block;
    margin-bottom: 4px;
}

.header__item:hover .header__icon {
    fill: var(--accent-color);
}

.header__item:hover .header__descr {
    color: var(--accent-color);
}

.header__descr {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: var(--white-color);
    transition: color .3s ease-in-out;
}

/* ----- Start   Header List for Mobile Device ----- */
.mobile-header__list {
    padding: 16px;
    justify-content: space-between;
    background-color: #888888;
}

.mobile-header__item {}

.mobile-header__link {
    margin: 0;
}

.mobile-header__icon {
    width: 45px;
    height: 45px;
    border-radius: unset;
    background-color: transparent;
    fill: var(--white-color);
    box-shadow: none;
}

.mobile-header__descr {
    display: none;
}

/* ----- End   Header List for Mobile Device ----- */

.header__nav {
    margin: 0 auto;
}

.header__right {
    text-align: right;
}

.logo-header {
    margin-bottom: 28px;
}

.lang__list {
    justify-content: flex-end;
    align-items: center;
    color: var(--white-color);
    margin-bottom: 20px;
}

.lang__btn {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white-color);
    transition: all .3s;
}

.lang__btn:hover {
    font-weight: 700;
    transition: all .3s;
}


.lang__btn.active {
    font-weight: 600;
}

.lang__item:last-child {
    margin-left: 3px;
}

.lang__item:last-child::before {
    content: "/";
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.header-address__link {
    position: relative;
    padding-left: 8px;

    font-size: 15px;
    color: var(--white-color);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}

.header-address svg {
    display: inline-block;
    width: 12px;
    height: 12px;
    fill: var(--white-color);
    transition: all .3s;
}

.header-address:hover .header-address__link {
    color: var(--accent-color);
    transition: color .3s ease-in-out;
}


.header-address:hover svg {
    fill: var(--accent-color);

}

.logo-center {
    display: none;
}


@media (max-width: 888px) {

    .header-address {
        font-size: 14px;
    }
}

@media (max-width: 768px) {

    .header__top {
        margin-bottom: 0;
        align-items: flex-end;
    }

    .header__bottom {
        margin-bottom: 0 !important;
    }

    .header__right {
        display: flex;
    }

    .header__title {
        display: none;
    }

    .header {
        display: block;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .logo {
        margin: 0 !important;
    }

    .lang__item {
        display: none;
    }

    .header-address {
        display: none;
    }
}

@media (max-width: 380px) {
    .header {
        padding: 21px 0 !important;
    }
}