.howmakeorder-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.howmakeorder-content-item {
    /* border: 1px solid var(--grey-color);
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.1); */
}

.howmakeorder-content-header {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    /* border-bottom: 2px solid var(--accent-color); */
    background-color: var(--grey-color);
}

.howmakeorder-content-pretitle {
    font-weight: 600;
    font-size: 64px;
    margin-right: 20px;
    color: var(--accent-color);
}

.howmakeorder-content-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;

}

.howmakeorder-content-subtitle {
    font-weight: 400;
    font-size: 16px;
}

.howmakeorder-content-list {}

.howmakeorder-content-list-item {
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
}

.howmakeorder-content-list-item:not(:last-child) {
    border-bottom: 1px solid var(--accent-color);
}