.location-container {
    padding-top: 48px;
    padding-bottom: 48px;
}

.location__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.location__address span,
.location__route span {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: var(--black-color);
}

.location__address {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}

.location__title {
    font-weight: 600;
    font-size: 24px;
    color: var(--black-color);
    margin-bottom: 32px;
}

.location__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

.location-route__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

@media (max-width: 768px) {
    .location__content {
        grid-template-columns: repeat(1, 1fr);
    }
}