.modal__search {
    top: 40%;
}

.form__search {
    width: 80vw;
    max-width: 1180px;
}

.search-input {
    padding: 16px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--white-color);
    /* border-radius: 8px; */
    outline: none;
    width: 100%;
    height: 60px;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
}

.search__field {
    width: 100%;
    position: relative;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.search-button.active {
    display: block;
}

.search-button__icon {
    width: 32px;
    height: 32px;
    fill: var(--accent-color);
}

.search__result {
    width: 100%;
    margin-top: 16px;
    padding: 16px;
    background-color: var(--white-color);
    border-radius: 16px;
    display: none;
}

.search__result.active {
    display: block;
}

.search-result__item:not(:last-child) {
    margin-bottom: 8px;
}

.search-result__item {
    transition: color .3s ease-in-out;
}

.search-result__item:hover {
    color: var(--accent-color);
    transition: color .3s ease-in-out;
}