@import "fonts.css";
@import "base.css";
@import "header.css";
/* @import "logo.css"; */
@import "menu.css";



@import "footer.css";





/*----- Logo -----*/

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
}

.logo__img {
    display: block;
    width: 64px;
    height: 64px;
    margin-right: 8px;
}

.logo__title {   
    font-weight: 900;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: .4px;
    color: var(--white-color);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .4px;
    color: var(--white-color);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/*----- Product -----*/

.product {
    padding-top: 40px;
}

.product-title {
    font-weight: 600;
    font-size: 24px;
    color: var(--black-color);
    margin-bottom: 20px;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
}

.product__item {
    padding: 12px;
    border-radius: 16px;
    transition: box-shadow .4s;
}

.product__item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11), 0px 4px 32px rgba(0, 0, 0, 0.11);
}

.product__title {

    font-weight: 600;
    font-size: 15px;
    color: var(--black-color);
    margin-bottom: 10px;
}

.product__img {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 12px;
}

.product__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--black-color);
}

.hide {
    display: none;
}