@import "fonts.css";
@import "base.css";
@import "header.css";
@import "menu.css";
@import "phone.css";
@import "product.css";
@import "business_card.css";
@import "calc.css";

@import "location.css";

@import "footer.css";
@import "accordion.css";



.hover {
-webkit-user-select: none;
-webkit-touch-callout: none;        
}

/*----- Logo -----*/

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}


.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-top: 8px;
}

.logo-header svg {
    display: block;
    width: 60px;
    height: 60px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}


.logo-header__title {
    padding-left: 8px;
    font-weight: 900;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: .4px;
    color: var(--white-color);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-header__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .6px;
    color: var(--white-color);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}


@media (max-width: 500px) {

    .logo-header svg {
        width: 44px;
        height: 44px;
    }
    .logo-header__title {

        font-size: 34px;
        line-height: 34px;
        
    }

    .logo-header__descr { 
        font-size: 12px;
 
    }
}




/*----- Product -----*/



.hide {
    display: none;
}